html{
  cursor:url("images/Wii Cursor.svg"), auto;
  overflow-x: hidden
}
body{
  margin: 0px;
}

@font-face {
    font-family: "RO Spiritendo";
    src: url("fonts/RoSpritendoSemiboldBeta-vmVwZ.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "FOT-RodinNTLGPro-DB";
  src: url("fonts/FOT-RodinBokutoh Pro DB.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.header {
    font-family: "RO Spiritendo", sans-serif;
    text-align: center;
    font-size: 50px;
    top:50px;
    position:relative;
}

.info-section{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    position:relative;
    margin-top:150px;
    /* justify-content: center; */
    width:100%;

    justify-content:space-evenly;
}
.info-section img{
  width:250px;
  /* height: 300px; */
}

.info-text h1{
  top:-120px;
  position:relative;
  font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: "FOT-RodinNTLGPro-DB", sans-serif; */
    text-align:center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: normal; /* Adjust as needed */
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}



.info-text p{
  /* font-family: "Roboto Mono", monospace, Sans-Serif; */
  font-family: "FOT-RodinNTLGPro-DB", sans-serif;
  text-align:center;
  margin: 0 auto;
  font-weight: 300;
  font-size:20px;

  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:750px;
}
.info{
  display:flex;
  flex-direction:row;
  align-items:center;
  width: 800px;
  height:350px;
  border-radius:130px;
  border-width:7px;
  border-color: #CBCBCB;
  border-style:solid;
  background: linear-gradient(to bottom, #FFFFFF 53%, #F5F5F5 100%);
  padding:20px;
  min-width:700px;
}

.info-text{
  display:flex;
  flex-direction:column;
  align-items:center;
  /* width: 800px;
  height:350px; */
  /* border-radius:130px;
  border-width:7px;
  border-color: #CBCBCB;
  border-style:solid;
  background: linear-gradient(to bottom, #FFFFFF 53%, #F5F5F5 100%); */
  /* padding:20px; */
  /* min-width:700px; */
}


.info-section img{
  width:250px;
}

.left-arrow{
  position:relative;
  /* top:180px; */
  right:120px;
}
.right-arrow{
  position:relative;
  /* top:180px; */
  left: 120px;
}
.arrow:hover{
  transform: scale(1.1);
}

.start-container{
  background-image: url("images/Union.svg");
  width:100%;
  min-height:300px;
  /* height:100%; */
}
.start-button-section{
  width:100%;
  margin:auto;
  height:100%;
  /* min-height:300px; */
}

.start-button{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom:30px;
  vertical-align:middle;
}

.start-button:hover{
  transform:scale(1.01)
}

.projects-section{
  position:relative;
  margin-top:50px;
  margin-bottom: 50px;
}


.projects-header{
  border-style:solid;
  border-width: 4px;
  width: 550px;
  height: 100px;
  margin:auto;
  border-radius:60px;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 0 black;
}

.projects-header h2{
  border-radius:60px;
  font-size: 60px;
  font-family: "MuseoModerno", sans-serif;
}
.projects{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap:wrap;
}
.project{
  width:450px;
  height:450px;
  border-style:solid;
  border-width:5px;
  border-color:black;
  margin-top:20px;
  font-family: "MuseoModerno", sans-serif;
  transition: transform 0.3s ease;
  position:relative;

}

.project:hover:not(.shadow){
  transform: translateY(-4px);
}
.shadow{
  width:95%;
  height:4px;
  background-color: black;
  position:absolute;
  bottom:-8px;
  left:50%;
  transform: translateX(-50%);
}
.tools{
  display:flex;
  flex-direction:row;
  margin-top:10px;
  margin-left:10px;
  margin-bottom:5px;
}
.tool{
  border-radius:90px;
  background-color:#eaeaea;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;
  padding-right:5px;
  font-size:12px;
  margin-right: 5px;
  font-weight: 600;
}

.project-name{
  font-weight:600;
  font-size: 20px;
  margin-left:10px;
}

.project-desc{
  margin-left:10px;
  font-weight:600;
  font-size:13px;
  width:340px;
}

.project-image{
  width:400px;
  left: 50%;
  transform: translateX(-50%);
  position:absolute;
  bottom:15px;
}

.github{
  /* border: solid; */
  position:absolute;
  width:80px;
  height:80px;
  top: 30px;
  right: 1px;
}

.github-logo{
  width:60px;
  left: 16px;
  top: 7px;
}

.github img{
  position:absolute;

  /* height:70px; */
}