.projects-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #09090C;
}


.projects{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap:wrap;
  }

.projects p{
  margin: 0;
}

.projects-header{
  border-style:solid;
  border-color:#ffffff;
  border-width: 4px;
  width: 550px;
  height: 100px;
  margin:auto;
  border-radius:60px;
  display:flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 5px 0 white; */
}

.projects-header h2{
  border-radius:60px;
  font-size: 60px;
  font-family: "MuseoModerno", sans-serif;
  color: white;
}

.project{
  width: 60vw;  
  min-width: 840px;
  height: 700px;
  border-style: solid;
  border-radius: 30px;
  border-width: 3px;
  border-color: #818181;
  /* background-color: #0F0F0F; */
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  color: white;
  font-family: "MuseoModerno", sans-serif;
}

.project:hover{
  transform: scale(1.03);
  transition: transform 0.4s ease-in-out;
}

.project-title{
  font-size: 3em;
  font-family: 'MuseoModerno', sans-serif;
  color: white;
  margin: 0;
}

.role{
  color: #BA7D7D;
  font-size: 1em;
}

.tools{
  display:flex;
  flex-direction: row;
}
.tool{
  width: fit-content;
  border-radius: 17px;
  background-color: #7D575C;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
}
.tool:not(:first-child){
  margin-left: 5px;
}

.project-image{
  width: 50%;
}

.project-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}